[Unit]
Description=Rclone Mount DriveUnimar
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/home/vinicius/.local/bin/rclone mount DriveUnimar: /home/vinicius/DriveUnimar --vfs-cache-mode full --vfs-cache-max-size 10G --dir-cache-time 72h
ExecStop=/usr/bin/fusermount -u /home/vinicius/DriveUnimar
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
