[Desktop Entry]
Name=CurseForge
Comment=Gerenciador de mods para Minecraft
Exec=/home/vinicius/Applications/curseforge-latest-linux.AppImage
Icon=/home/vinicius/Applications/curseforge-icon.png
Terminal=false
Type=Application
Categories=Game;Utility;
